.wrap {
  display: flex;
  justify-content: center;
  margin: 100px 0 0 40px;
  background: #020526;
  border: 10px solid #252e6d;
  border-radius: 7%;
  background-size: cover ;
  align-items: center;
}
