.wrap {
  position: relative;
  top: 10px;
  left: 40px;
  display: flex;
  justify-content: center;
  filter: drop-shadow(0 0 8.5px rgba(0,0,0,0.43));
  background-color: #020526;
  border: 10px solid #252e6d;
  border-radius: 6%;
  background-size: cover ;
  align-items: center;
}
