.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 75px;
  margin: -100px 0 0 0 ;
  background-image: linear-gradient(0deg, #0f3c79 0%, #09203f 100%);
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
}